@tailwind base;
@tailwind components;
@tailwind utilities;

/* Is this the "correct" way to do full-height layouts in Next.js? */
/* html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
} */

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #1e2b20 #a2bba8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #a2bba8;
}

*::-webkit-scrollbar-thumb {
  background-color: #1e2b20;
  border-radius: 30px;
  border: 4px solid #a2bba8;
}
